In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-05-15 04:31:30,-54.8000,-68.3000,42.46,75,40,13.80
1,1,Aldan,RU,2022-05-15 04:31:31,58.6031,125.3894,34.30,75,100,7.14
2,2,Port Elizabeth,ZA,2022-05-15 04:31:31,-33.9180,25.5701,46.69,93,0,4.61
3,3,Aklavik,CA,2022-05-15 04:31:32,68.2191,-135.0107,29.07,79,96,2.06
4,4,Nesna,NO,2022-05-15 04:31:32,66.1967,13.0213,40.66,87,100,24.00

In [17]:
#get the data types of the data frame
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [50]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp'] # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
#Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

#another way to get max temp directly into heat_layer variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#get the maximum temperature
max_temp = city_data_df['Max Temp']

temps = []
for temp in max_temp:
    temps.append(max(temp,0))
    
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [36]:
#another way to get max temp directly into heat_layer variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp])

In [40]:
#Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
#heatmap of percent humidity
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
                   
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
#heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
#heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind_speed = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind_speed,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
#ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [63]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Labuhan,ID,2022-05-15 04:31:35,-6.8844,112.2051,87.57,68,93,2.51
16,16,Edd,ER,2022-05-15 04:27:42,13.9297,41.6925,87.39,55,0,0.16
18,18,Port Blair,IN,2022-05-15 04:31:37,11.6667,92.7500,84.24,79,40,10.36
19,19,Henderson,US,2022-05-15 04:30:11,36.0397,-114.9819,88.72,9,0,5.75
23,23,San Patricio,US,2022-05-15 04:31:37,28.0170,-97.5169,80.49,90,0,10.51
27,27,Charters Towers,AU,2022-05-15 04:31:39,-20.1000,146.2667,79.99,39,1,4.09
29,29,Baoying,CN,2022-05-15 04:31:39,33.2292,119.3092,76.89,22,100,7.54
30,30,Rudbar,AF,2022-05-15 04:31:40,30.1500,62.6000,75.09,25,0,16.33
40,40,Cap Malheureux,MU,2022-05-15 04:31:43,-19.9842,57.6142,78.48,71,2,5.99
45,45,Ngama,TD,2022-05-15 04:31:44,11.7833,17.1667,86.92,47,96,11.79

In [64]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [68]:
#create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
14          Labuhan      ID     87.57  -6.8844  112.2051
16              Edd      ER     87.39  13.9297   41.6925
18       Port Blair      IN     84.24  11.6667   92.7500
19        Henderson      US     88.72  36.0397 -114.9819
23     San Patricio      US     80.49  28.0170  -97.5169
27  Charters Towers      AU     79.99 -20.1000  146.2667
29          Baoying      CN     76.89  33.2292  119.3092
30           Rudbar      AF     75.09  30.1500   62.6000
40   Cap Malheureux      MU     78.48 -19.9842   57.6142
45            Ngama      TD     86.92  11.7833   17.1667

In [71]:
#set parameters dictionary to search for a hotel
params = {
    "radius" : 5000,
    "type": "lodging",
    "key": g_key
}

#iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #use the search term: "lodging" and our latitude and logitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [73]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Labuhan,ID,87.57,-6.8844,112.2051,DoubleFAG
16,Edd,ER,87.39,13.9297,41.6925,
18,Port Blair,IN,84.24,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
19,Henderson,US,88.72,36.0397,-114.9819,Hawthorn Suites By Wyndham Las Vegas/Henderson
23,San Patricio,US,80.49,28.0170,-97.5169,"Motel 6 Sinton, TX"
27,Charters Towers,AU,79.99,-20.1000,146.2667,Cattleman's Rest Motor Inn
29,Baoying,CN,76.89,33.2292,119.3092,GreenTree Alliance Yangzhou Baoying Town Huaij...
30,Rudbar,AF,75.09,30.1500,62.6000,
40,Cap Malheureux,MU,78.48,-19.9842,57.6142,Pereybere Hotel & Spa
45,Ngama,TD,86.92,11.7833,17.1667,

In [76]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
#adding tags to our markers - Here's what these tags mean:
    #The <dl> tag is a description list (dl).
    #The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
    #The <dd> tag is used to define the term or name or <dt> tag.

#If we were to write out these tags on paper, it would look like this.

    #Description List: <dl>
        #Description Term: <dt>
            #Description Definition: <dd>
        #Description Term: <dt>
            #Description Definition: <dd>


info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [79]:
#store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))