## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atuona,PF,78.75,few clouds,-9.8000,-139.0333,Villa Enata
1,2,Saint-Philippe,RE,67.59,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,11,Arraial Do Cabo,BR,73.72,clear sky,-22.9661,-42.0278,Pousada Porto Praia
3,12,Bilma,NE,78.71,clear sky,18.6853,12.9164,Expeditions Ténére voyages
4,13,Sao Filipe,CV,75.34,overcast clouds,14.8961,-24.4956,Hotel Xaguate

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather<dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30,31), zoom_level = 1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Saint Anthony']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Saint Anthony']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Willmar']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Valley City']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Superior']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,353,Saint Anthony,US,71.20,scattered clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
1,418,Willmar,US,69.75,clear sky,45.1219,-95.0433,Lakeview Inn
2,524,Valley City,US,66.72,clear sky,46.9233,-98.0032,AmericInn by Wyndham Valley City Conference Ce...
3,294,Superior,US,68.47,overcast clouds,46.7208,-92.1041,Holiday Inn Express & Suites Superior - Duluth...

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
itinerary = gmaps.directions_layer(start,end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))